<p id="notice"><%= notice %></p>

<h1>Student Details</h1>

<table border="2px" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Standard</th>
      <th>Contact</th>
      <th>Address</th>
      <th>D o a</th>
      <th>Action</th>
      </tr>
  </thead>
  
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.standard %></td>
        <td><%= student.contact %></td>
        <td><%= student.address %></td>
        <td><%= student.D_O_A %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class:"btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
<%= will_paginate @students %>
</div>
<br>

<%= link_to 'New Student', new_student_path, class:"btn btn-success" %>
